<p id="notice"><%= notice %></p>

<div class="home-container">
  <div class="home-myParallax large-12 medium-12 small-12 columns">
    <h1>RAD PLANET</h1>
  </div>
</div>
<div class="home-container2">
<div class="home-description1 second-homeParallax large-12 medium-12 small-12 columns"><h1>Our Planet Is Amazing.</h1></div>
</div>
<div class="home-container3">
<div class="home-description2 second-homeParallax large-12 medium-12 small-12 columns"><h1>Remind Yourself. Once a Day.</h1></div>
</div>
<ul class="sub-nav menu" role="navigation" title="Filter Menu List">
  <li class="sub-nav-title">Categories:</li>
  <li class="active"><span class="show-for-sr">You're viewing </span><a href="/">Home</a></li>
  <li><a href="/all">All</a></li>
  <li><a href="/arts">Arts</a></li>
  <li><a href="/earth">Earth</a></li>
  <li><a href="/education">Education</a></li>
  <li><a href="/environment">Environment</a></li>
  <li><a href="/health">Health</a></li>
  <li><a href="/science">Science</a></li>
  <li><a href="/society">Society</a></li>
  <li><a href="/space">Space</a></li>
  <li><a href="/tech">Tech</a></li>
</ul>
<div class="recent-posts large-12 medium-12 small-12 columns"><h2>Recent Discoveries</h2></div>
<% @posts.reverse.first(10).each do |post| %>
<div class="home-date"> <h4><%= post.created_at.strftime("%B %d, %Y") %></h4> </div>
<div class="horizontal-callout-card">
  <div class="row column medium-8" data-equalizer>
    <div class="row collapse">
      <div class="column medium-3">
        <div class="callout secondary first-section" data-equalizer-watch>
          <strong><p><%= post.title %></p></strong>
        </div>
      </div>
      <div class="column medium-6">
        <div class="callout middle-section" data-equalizer-watch>
          <p><%= truncate(post.content, length: 300, omission: '...') { link_to "Read more", "posts/#{post.id}" } %></p>
        </div>
      </div>
      <div class="column medium-3">
        <div class="callout secondary last-section" data-equalizer-watch>
          <p><%= link_to post.name, "#{post.name}".downcase %></p><br>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="all-link">
<%= link_to all_path do %>
  <p>Read All</p>
</div>
<% end %>