<div class="all-container">
<%= link_to root_path do %>
<div class="<%= @post.name.downcase %>-description second-homeParallax large-12 medium-12 small-12 columns"><h1>RAD PLANET</h1></div>
<% end %>
</div>
<div id="indiv-post-container">
<h4><%= @post.created_at.strftime("%B %d, %Y") %></h4>

<h5>
  <strong><%= @post.title %></strong>
</h5>

<div class="indiv-post">
<p>
  <%= @post.content %>
</p>
</div>

<p>
  <strong>Source:</strong>
  <%= link_to @post.source, "#{@post.source}" %><br>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @post.name, "/#{@post.name}".downcase %><br>
</p>

<%= link_to 'Back to Homepage', posts_path %><br>

</div><br>
